 <!--this file is the one base file for all the application so that the structure will be identical on all of the pages-->
<!doctype html>
<html>
    <head>
      <!--this line will provide the option to make the head a little bit smarter with conditional design-->
      {% if title %} 
      <title>{{ title }} - Liz's Portfolio</title>
      {% else %}
      <title>Welcome to Liz's Portfolio</title>
      {% endif %}
    </head>
    <body>
        <div>
          Nevigation: 
          <a href="{{url_for('index', user=username)}}">Home</a>
          <a href="{{url_for('login')}}">Login</a>
          <a href="{{url_for('posts')}}">Posts</a>
          <a href="{{url_for('delete_edit')}}">Edit/Delete</a>
        </div>
        <hr>
<!-- The get_flashed_messages() function comes from Flask, and returns a list of all the messages that have been registered with flash() previously -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <!--this line will provide the option to add a lot of blocks to the website-->
        {% block content %}{% endblock %}
    </body>
</html>