{% extends "base.html" %}

{% block content %}
    <h1>Edit/Delete</h1>
    <form>
<!-- The novalidate attribute is used to tell the web browser to not apply validation to the fields in this form -->
        {{ form.hidden_tag() }}
<!-- The form.hidden_tag() template argument generates a hidden field that includes a token that is used to protect the form against CSRF attacks -->
        <p>
            {{ form.body.label }}<br>
            {{ form.body(size=256) }}<br>
        </p>
        <p> <input name = "submitedit" type ="submit" value="edit">  </i> <input name = "textedit" type ="text" label="edit" ></p>
        <p> <input name = "delete" type ="submit" value="delete"> </p>
    </form>
    <hr>
    {% if posts %} 
        {% for post in posts %}
        <div class="post">
            <p>{{ post.body}}</i></p>
        </div>
        {% endfor %}
    {% endif %}
    
</div>
{% endblock %}